/* import fonts */
.atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* ----skip to main content---- */
.skip-link a {
    position: absolute;
    background-color: white;
    color: black;
    top: -40px;
}

.skip-link a:focus {
    top: 20px;
}

/* ---style---  */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
}

.header-container {
    display: flex;
    padding: var(--padding-vertical, 20px) var(--margins-margin, 32px);
    flex-direction: column;
    gap: 20px;
    align-self: stretch;
}

.header-logo {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.header-container nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
}

.header-container nav ul {
    display: flex;
    max-width: 620px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
    flex-direction: column;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

nav ul li a {
    color: var(--White, #FFFFFF);
    text-decoration: none;

    /* Button 1 */
    font-family: Atkinson Hyperlegible;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 100% */
}

.header-container nav ul .selected a  {
    color: var(--Maize, #FFCB05);
    text-decoration: underline 2px solid var(--Maize, #FFCB05);
}

/* content */
#content {
    display: flex;
    padding: var(--margins-vertical_margin, 16px) var(--margins-margin, 32px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-small-2, 30px);
    align-self: stretch;
}

#content .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-small, 15px);
    align-self: stretch;
}

.hero h1 {
    color: var(--Blue, #00274C);
    text-align: center;

    /* H1 */
    font-family: Atkinson Hyperlegible;
    font-size: 25.628px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.319px; /* 130.013% */
}

.hero .body-1 {
    color: var(--Puma-Black, #131516);
    text-align: center;

    /* Body 1 */
    font-family: Atkinson Hyperlegible;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}

#content .section {
    display: flex;
    padding: var(--padding-section, 15px);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-small, 15px);
    align-self: stretch;

    /* style */
    border-radius: var(--radius-section, 8px);
    background: var(--matthaei-violet-diluted, rgba(87, 82, 148, 0.15));
}

.section h2 {
    color: var(--Blue, #00274C);

    /* H2 */
    font-family: Inter;
    font-size: 22.781px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.614px; /* 129.993% */
}

.section .body-1 {
    color: var(--Puma-Black, #131516);

    /* Body 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}

.section .buttons-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.section .buttons-list .buttons {
    /* layout */
    display: flex;
    padding: var(--padding-button_vert, 12px) var(--padding-button_horiz, 16px);
    justify-content: center;
    align-items: center;

    /* style */
    border-radius: var(--radius-buttons, 4px);
    background: var(--Maize, #FFCB05);
}

.section .buttons-list .buttons a {
    color: var(--Puma-Black, #131516);

    /* Button 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 100% */
}



.header-container {
    display: flex;
    flex-direction: column;
}

.header-container nav {
    display: flex;
    flex-direction: column;
}

.header-container nav ul {
    display: flex;
    flex-direction: column;
}


/* ---color--- */
body {
    background: #FFF;
}

.header-container{
    background: var(--Blue, #00274C);
}

.footer-container {
    display: flex;
    padding: var(--padding-vertical, 20px) var(--margins-margin, 32px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    background: var(--Blue, #00274C);
}

footer .body-1 {
    color: var(--White, #FFFFFF);
    text-align: center;

    /* Body 1 */
    font-family: Atkinson Hyperlegible;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}

footer #footer-year {
    color: #FFF;
}

footer a {
    color: var(--White, #FFFFFF);
    text-decoration: 2px solid var(--White, #FFFFFF) underline;

    /* Body 1 */
    font-family: Atkinson Hyperlegible;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}

/* hero */
.hero-image {
    max-width: 370px;
}

/* 404 */
.squirrel-404 {
    max-width: 370px;
}

.buttons {
    /* layout */
    display: flex;
    padding: var(--padding-button_vert, 12px) var(--padding-button_horiz, 16px);
    justify-content: center;
    align-items: center;

    /* style */
    border-radius: var(--radius-buttons, 4px);
    background: var(--Maize, #FFCB05);
}

.section div .buttons{
    color: var(--Puma-Black, #131516);

    /* Button 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 100% */
}

.section .buttons {
    color: var(--Puma-Black, #131516);

    /* Button 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 100% */
}

h3 {
    font-family: Atkinson Hyperlegible;
    font-size: 20.3px;
    font-style: normal;
    font-weight: 600;
    line-height: 26.3px;

    /* padding: 20px 40px;
    background-color: #575294; */
    color: #575294;
    /* border-radius: 8px; */

}

.section .notes {
    padding: 20px 40px;
    background-color: #575294;
    color: #fff;
    border-radius: 8px;
}

.flex-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container-internships {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-container-internships div, .grid-container div {
    border: 2px solid  rgba(87, 82, 148, 0.15);
    border-radius: 8px;
    padding: 20px;
}

.section .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

.section .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.grid-container-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}













/* ---MEDIA QUERY--- */
@media (min-width: 800px) {
    #content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: var(--margins-vertical_margin, 30px) var(--margins-margin, 80px);
    }
    

    .header-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .header-container nav {
        display: flex;
        flex-direction: row;
    }

    .header-container nav ul {
        display: flex;
        flex-direction: row;
        max-width: 867px;
        flex-wrap: wrap;
    }

    .header-container nav ul .selected a  {
        color: var(--Maize, #FFCB05);
        text-decoration: underline;
    }

    .header-container nav ul li a:hover {
        color: #FFCB05;
        text-decoration: 2px solid #FFCB05 underline;
        transition: color .7s ease;
        /* transition: text-decoration 0.5s ease-in; */
    }

    /* footer */
    .footer-container {
        flex-direction: row;
    }

    /* hero */
    .hero-image {
        max-width: 800px;
    }

    /* 404 */
    .squirrel-404 {
        max-width: 600px;
    }

    #content .section {
        padding: var(--margins-vertical_margin, 15px) var(--margins-margin, 80px);
    }



}